/*-------------------------------------
#. Normalize and Defaults
---------------------------------------*/
body {
  margin: 0 auto;
  color: $bodyColor;
  background-color: $bodyBackground;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  vertical-align: baseline;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
}

.clear {
  clear: both;
}

.alignleft {
  display: inline;
  float: left;
  margin-right: 1.5em;
}

.alignright {
  display: inline;
  float: right;
  margin-left: 1.5em;
}

.aligncenter {
  clear: both;
  display: block;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

h1, h2, h3, h4, h5, h6 {
  color: $black;
  margin-bottom: 20px;
  clear: both;
}

p {
  margin-bottom: 20px;
  line-height: 1.6;
}

a {
  background-color: transparent;
  outline: none;

  &:link,
  &:visited {
    color: var(--rtcl-primary-color);
    transition: all 0.3s ease 0s;
    text-decoration: none;
  }

  &:hover,
  &:focus,
  &:active {
    color: var(--rtcl-secondary-color);
    text-decoration: underline;
  }
}

button {
  border: none;
}

ul,
ol,
ol ol,
ol ul,
ul ol,
ul ul {
  margin: 0 0 1em 0;
  padding-left: 20px;
}

ul {
  list-style: disc;
}

ol {
  list-style: decimal;
}

li > ul,
li > ol {
  margin-bottom: 0;
  margin-left: 20px;
}

dt {
  font-weight: $bold;
  margin-bottom: 10px;
}

dd {
  margin: 0 1.5em 1.5em;
}

img {
  height: auto;
  max-width: 100%;
  border: 0;
}

dfn,
cite,
em {
  font-style: italic;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
main,
menu,
nav,
section,
summary {
  display: block;
}

audio,
canvas,
progress,
video {
  display: inline-block;
  vertical-align: baseline;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

embed,
iframe,
object {
  max-width: 100%;
}

[hidden],
template {
  display: none;
}

abbr[title] {
  border-bottom: 1px dotted;
}

b,
strong {
  font-weight: $bold;
}

dfn {
  font-style: italic;
}

mark {
  color: $black;
  border-radius: $borderRadius4;
}

small {
  font-size: 80%;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -0.5em;
}

sub {
  bottom: -0.25em;
}

svg:not(:root) {
  overflow: hidden;
}

figure {
  margin: 1em 40px;
}

pre {
  overflow: auto;
  white-space: pre-wrap;
  word-wrap: break-word;
}

legend {
  border: 0;
  padding: 0;
}

textarea {
  overflow: auto;
}

optgroup {
  font-weight: $bold;
}

address {
  margin: 0 0 1.5em;
}

pre {
  background: #eee;
  font-family: "Courier 10 Pitch", Courier, monospace;
  line-height: 1.6;
  margin-bottom: 1.6em;
  max-width: 100%;
  overflow: auto;
  padding: 1.6em;
}

code,
kbd,
tt,
var {
  font-family: Monaco, Consolas, "Andale Mono", "DejaVu Sans Mono", monospace;
}

abbr,
acronym {
  border-bottom: 1px dotted #666;
  cursor: help;
}

mark,
ins {
  background: rgba(var(--rtcl-primary-color), 0.3);
  text-decoration: none;
}

big {
  font-size: 125%;
}

.post-nav-links {
  clear: both;
}

/*----------------------
Accessibility issue
-----------------------*/
input:focus {
  border-color: var(--rtcl-primary-color);
}

select:focus {
  outline: 1px dotted var(--rtcl-primary-color) !important;
  outline-offset: 3px;
}

a:focus img {
  border: 1px dotted var(--rtcl-primary-color);
}

button:focus,
a:focus {
  outline: 1px dotted var(--rtcl-primary-color) !important;
  outline-offset: 3px;
}

.skip-link {
  position: absolute;
  top: -40px;
  left: 0;
  background: #000;
  color: #fff;
  padding: 8px;
  z-index: 100;
  text-decoration: none;
}

.skip-link:focus {
  top: 0;
}

.screen-reader-text {
  clip: rect(1px, 1px, 1px, 1px);
  position: absolute !important;
  height: 1px;
  width: 1px;
  overflow: hidden;
}

.screen-reader-text:focus {
  background-color: #f1f1f1;
  border-radius: $borderRadius2;
  box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.6);
  clip: auto !important;
  color: #21759b;
  display: block;
  font-size: 14px;
  font-weight: $bold;
  height: auto;
  left: 5px;
  line-height: normal;
  padding: 15px 23px 14px;
  text-decoration: none;
  top: 5px;
  width: auto;
  z-index: 100000;
}

.wp-smiley {
  border: none;
  margin-bottom: 0;
  margin-top: 0;
  padding: 0;
}

.wp-caption {
  margin: 0 0 1.5em;
  max-width: 100%;

  &.alignleft {
    margin-right: 1.5em;
  }

  &.alignright {
    margin-left: 1.5em;
  }

  &.aligncenter {
    margin-left: auto;
    margin-right: auto;
  }
}

.wp-caption img[class*="wp-image-"] {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.wp-caption-text,
.wp-caption-dd {
  text-align: center;
  margin: 0.8075em 0 !important;
  padding: 0 !important;

  a {
    display: inline !important;
  }
}

.gallery {
  margin-bottom: 1.5em;
}

.gallery-item {
  display: inline-block;
  text-align: center;
  vertical-align: top;
  width: 100%;
  margin: 0;
  padding: 0 5px 5px;
}

.gallery-columns-2 .gallery-item {
  max-width: 50%;
}

.gallery-columns-3 .gallery-item {
  max-width: 33.33%;
}

.gallery-columns-4 .gallery-item {
  max-width: 25%;
}

.gallery-columns-5 .gallery-item {
  max-width: 20%;
}

.gallery-columns-6 .gallery-item {
  max-width: 16.66%;
}

.gallery-columns-7 .gallery-item {
  max-width: 14.28%;
}

.gallery-columns-8 .gallery-item {
  max-width: 12.5%;
}

.gallery-columns-9 .gallery-item {
  max-width: 11.11%;
}

.gallery-caption {
  display: block;
}

// Blocks
hr,
.wp-block-separator {
  background-color: #646464;
  border: 0;
  height: 2px;
  margin: 24px auto;

  &.is-style-dots {
    height: 0;
    text-align: center;
  }
}

table,
.wp-block-table {
  border-collapse: collapse;
  border-spacing: 0;
  margin: 15px 0;
  width: 100%;

  th, td {
    border: 1px solid #ddd;
    padding: 10px;
  }

  .wp-block-table__cell-content {
    padding: 0;
  }
}

.wp-block-latest-posts.is-grid {
  list-style: disc;
}

.wp-block-latest-posts.wp-block-latest-posts__list {
  padding: 0;

  li {
    margin-bottom: 7px;
  }
}

.wp-block-audio {
  margin: 15px 0;

  figcaption {
    color: #555d66;
    font-size: 13px;
    text-align: center;
  }
}

.wp-block-categories,
.wp-block-archives {
  margin: 0 0 20px;
  list-style-position: inside;

  ul {
    margin: 0;
    padding: 0;
    list-style-position: inside;
  }

  &.aligncenter {
    padding: 0;
  }
}

.wp-block-spacer {
  clear: both;
}

.wp-block-image.alignleft {
  margin-right: 20px;
}

.wp-block-image.alignright {
  margin-left: 20px;
}

.wp-block-gallery {
  display: flex;
  margin: 0 0 20px 0;
  padding: 0;

  figure {
    margin: 0;
    display: flex;
    align-items: flex-end;
    justify-content: flex-start;
  }

  &.alignleft {
    margin-right: 20px;
  }
}

.wp-block-button__link {
  cursor: pointer;
  transition: inherit !important;

  &:hover {
    opacity: 0.8;
  }

  &:not(.has-text-color) {
    color: #fff;
  }

}

.is-style-outline .wp-block-button__link {
  color: #32373c;
}

.wp-block-button {
  &.is-style-squared {
    .wp-block-button__link {
      border-radius: 0;
    }
  }
}


.wp-block-cover p {
  color: #fff
}

.comments-area .main-comments.bypostauthor .comment-meta .comment-meta-left a {
  color: var(--rtcl-primary-color);
}

blockquote,
q {
  quotes: "" "";

  &:before,
  &:after {
    content: "";
  }
}

blockquote {
  color: $liteBlack;
  position: relative;
  margin: 30px 30px 30px 40px;
  border: none;
  background-color: var(--rtcl-lite-primary-color);
  padding: 15px 20px 15px 20px;
  border-left: 5px solid var(--rtcl-primary-color);
  border-radius: 10px;

  p {
    font-style: italic;
    font-weight: $semiBold;

    &:last-of-type {
      margin-bottom: 0;
    }
  }

  cite {
    display: inline-block;
    font-weight: 400;
    color: $liteBlack;
    font-size: 16px;
    line-height: 1.3;
    font-style: italic;
    margin: 10px 0 0;
  }
}

.wp-block-quote {
  color: $liteBlack;
  position: relative;
  margin: 30px 30px 30px 40px;
  padding: 15px 20px 15px 20px;
  border: none;
  border-left: 5px solid var(--rtcl-primary-color);
  border-radius: 10px;

  &.has-text-align-right {
    border-left: none;
    border-right: 5px solid var(--rtcl-primary-color);
  }

  p {
    font-style: italic;
    font-weight: $semiBold;

    &:last-of-type {
      margin-bottom: 0;
    }
  }

  cite,
  .wp-block-quote__citation {
    display: inline-block;
    font-weight: 400;
    color: $liteBlack;
    font-size: 16px;
    line-height: 1.3;
    font-style: italic;
    margin: 10px 0 0;
  }

  &.is-large,
  &.is-style-large {
    margin: 30px 30px 30px 40px;
    padding: 10px 20px 10px 20px;
    font-size: 22px;
    line-height: 1.5;

    p {
      font-size: 22px;
      line-height: 1.5;
    }

    cite,
    .wp-block-quote__citation {
      font-size: 16px;
      line-height: 1.3;
    }
  }
}

.wp-block-pullquote {
  border: 2px solid var(--rtcl-primary-color);
  border-left-width: 0;
  border-right-width: 0;
  padding: 40px 0;
  background: none;
  font-size: 28px;
  line-height: 1.5;
  color: #333;
  font-style: italic;
  quotes: none;
  font-weight: $semiBold;
  margin: 0 0 20px;

  blockquote {
    background-color: inherit;
    border: none;
    font-size: inherit;
    line-height: inherit;
    font-style: inherit;
    font-weight: inherit;
    padding: 0;
    margin: 0;
    color: inherit;
    quotes: none;

    &:before,
    &:after {
      content: none;
    }
  }

  p {
    font-size: 28px;
    line-height: 1.5;
    font-style: italic;
    font-weight: $semiBold;

    &:last-of-type {
      margin-bottom: 0;
    }

    &:before,
    &:after {
      content: none;
    }
  }

  cite,
  .wp-block-pullquote__citation {
    font-size: 13px;
    line-height: 1.3;
    font-weight: 400;
    font-style: italic;
    margin: 10px 0 0;
    color: #333;
    text-transform: inherit;
    display: block;
  }

  &:before {
    content: none;
  }

  &.is-style-solid-color blockquote {
    text-align: inherit;
    max-width: inherit;

    cite,
    .wp-block-pullquote__citation {
      color: inherit;
    }
  }

  &.alignleft,
  &.alignright {
    position: relative;
    z-index: 1;
    padding: 20px 0;

    p {
      font-size: 20px;
    }
  }

  &.alignleft {
    margin: 15px 20px 15px 0;
    display: block;
  }

  &.alignright {
    margin: 15px 0 15px 20px;
    display: block;
  }

}