:root {
  --rtcl-primary-color: #{$primaryColor};
  --rtcl-secondary-color: #{$secondaryColor};
  --rtcl-top-bg-color: #dff0f3;
  --rtcl-link-hover-color: #{$secondaryColor};
  --rtcl-lite-primary-color: #{$litePrimaryColor};
}

.pt-30 {
  padding-top: 30px;
}

.pt-40 {
  padding-top: 40px;
}

.pt-70 {
  padding-top: 70px;
}

.pt-80 {
  padding-top: 80px;
}

.pb-40 {
  padding-bottom: 40px;
}

.pb-50 {
  padding-bottom: 50px;
}

.py-50 {
  padding: 50px 0;
}

.pb-70 {
  padding-bottom: 70px;
}

.py-40 {
  padding: 40px 0;
}

.py-80 {
  padding: 80px 0;
}

.py-90 {
  padding: 90px 0;
}

@include small-screen() {
  .py-80 {
    padding: 40px 0;
  }
  .py-40 {
    padding: 25px 0;
  }
}

.section-title {
  h2 {
    font-weight: $bold;
    font-size: 26px;
    line-height: 35px;
    color: $black;
  }
}

.section-link {
  a {
    color: var(--rtcl-secondary-color);
    font-weight: $semiBold;
    transition: all 0.3s ease-in-out;
    border-bottom: 1px solid transparent;

    &:hover {
      color: var(--rtcl-primary-color);
      border-bottom: 1px solid var(--rtcl-primary-color);
    }
  }

  i {
    font-size: 14px;
  }
}

.rtin-button {
  color: $white !important;
  padding: 10px 16px;
  border-radius: $borderRadius5;
  text-decoration: none;
  font-weight: $semiBold;
  font-size: 16px;
  border: 1px solid var(--rtcl-primary-color);
  background-color: var(--rtcl-primary-color);
  display: inline-block;
  transition: all 0.3s;

  &:hover {
    color: var(--rtcl-primary-color) !important;
    background-color: transparent;
    border: 1px solid var(--rtcl-primary-color);
    text-decoration: none;
  }

  .rtin-button-icon {
    margin-left: 5px;
    vertical-align: middle;
  }
}

.rtcl .form-control,
.form-control {
  outline: none;
  box-shadow: none;
  border-radius: $borderRadius5;
  height: 45px;
  line-height: 1.2;
  padding: 5px 12px;
  border-color: $borderColor;

  &:focus {
    border-color: var(--rtcl-primary-color);
  }
}

.content-block-gap {
  margin-top: 30px;
}

.site-content-block {
  .main-content {
    background-color: #fff;
    padding: 25px;
    border-radius: $borderRadius8;
    box-shadow: 0 0 20px #f0f0f0;
    display: inline-block;
    width: 100%;

    a {
      text-decoration: underline;

      &:hover {
        color: var(--rtcl-secondary-color);
      }
    }
  }
}

.rtcl-widget-title2 {
  position: relative;
  border-bottom: 1px solid $borderColor;
  padding-bottom: 10px;
  margin-bottom: 15px;

  h3 {
    font-size: 22px;
    font-weight: 600 !important;
    color: $black;
    margin-bottom: 0;
  }

  &:after {
    position: absolute;
    content: "";
    left: 0;
    height: 4px;
    width: 40px;
    bottom: -2px;
    background-color: var(--rtcl-primary-color);
  }

}