// Color
$primaryColor: #f9423a;
$secondaryColor: #ef1c13;
$litePrimaryColor: #feeceb;
$bodyBackground: #f6f6f6;
$bodyColor: #797f89;
$liteBlack: #212529;
$white: #ffffff;
$black: #000000;
$borderColor: #e7e7e7;

$facebook: #1877F2;
$twitter: #000000;
$instagram: #E1306C;
$youtube: #ff0000;
$linkedin: #0077b5;
$pinterest: #e60023;
$reddit: #5f99cf;
// Font Weight
$normal: 400;
$medium: 500;
$semiBold: 600;
$bold: 700;
// Border Radius
$borderRadius2: 2px;
$borderRadius4: 4px;
$borderRadius5: 5px;
$borderRadius8: 8px;
$borderRadius10: 10px;
// Font Family
$bodyFont: "Lato", sans-serif;
$headingFont: "Nunito", sans-serif;