#rtcl-compare-wrap {
  #rtcl-compare-panel-btn {
    background-color: var(--rtcl-primary-color);
    color: $white;
    font-size: 18px;
    height: 40px;
    width: 40px;
    left: -20px;

    .rtcl-compare-listing-count {
      background: var(--rtcl-secondary-color);
    }
  }

  h5.rtcl-compare-wrap-title {
    font-size: 18px;
    font-weight: 700;
  }

  .rtcl-compare-item {
    h4.rtcl-compare-item-title {
      font-size: 18px;
      font-weight: 400;

      a {
        color: $black;

        &:hover {
          color: var(--rtcl-primary-color);
        }
      }
    }
  }

  #rtcl-compare-btn-wrap {
    a.rtcl-compare-btn {
      background-color: var(--rtcl-primary-color);
      color: $white;
      border: 1px solid var(--rtcl-primary-color);

      &:hover {
        background-color: var(--rtcl-secondary-color);
        border-color: var(--rtcl-secondary-color);
      }
    }
  }
}

.rtcl-compare-table thead th {
  border-bottom: none;
}