.rtcl {
  .rtcl-ajax-pagination-wrap,
  nav.rtcl-pagination {
    margin-top: 40px;

    ul {
      grid-gap: 0;

      li {
        margin-right: 10px;
        border: none;
        border-radius: 0;

        & > span,
        .page-numbers {
          width: 45px;
          height: 45px;
          display: inline-flex;
          align-items: center;
          justify-content: center;
          text-align: center;
          border: 1px solid #e7e7e7;
          border-radius: $borderRadius4;
          text-decoration: none;
          color: var(--rtcl-primary-color);
          background-color: $white;
          transition: all 0.3s;

          &:hover {
            color: $white;
            border: 1px solid transparent;
            background-color: var(--rtcl-primary-color);
          }

          &.current {
            color: $white;
            border: 1px solid transparent;
            background-color: var(--rtcl-primary-color);
          }
        }
      }
    }
  }
}