.rtcl {
  .rtcl-related-listing-wrap {
    background: transparent;
    box-shadow: none;
    margin: 30px 0 0 !important;
    border: none;

    .rtcl-related-title {
      border: none;
      padding: 0;
      margin-bottom: 25px;

      h3 {
        font-size: 20px;
        font-weight: 700;
        margin-bottom: 0;
      }
    }

    .rtcl-related-listings {
      padding: 0;

      .rtcl-related-slider {

        .rtcl-listing-item {
          padding: 0;
          border-radius: $borderRadius8;
          margin-bottom: 0;

          .related-item-inner {
            border: none;
            border-radius: $borderRadius8;

            .listing-thumb {
              overflow: hidden;

              .rtcl-thumbnail {
                border-radius: 8px 8px 0 0;
                transition: all 0.3s ease-in-out;
              }
            }

            .item-content {
              padding: 20px 25px 20px;

              .listing-title {
                margin-bottom: 10px;

                a {
                  color: $black;

                  &:hover {
                    color: var(--rtcl-primary-color);
                  }
                }
              }

              .listing-price {
                margin-top: 10px;

                .rtcl-price {
                  font-size: 20px;
                  color: var(--rtcl-primary-color);

                  .rtcl-price-meta {
                    font-size: 14px;
                    color: $bodyColor;
                    margin-top: 0;
                    align-items: center;

                    .rtcl-on_call {
                      font-size: 20px !important;
                      color: var(--rtcl-primary-color);
                      font-weight: 600;
                    }
                  }
                }
              }
            }
          }

          &:hover {
            .listing-thumb {
              .rtcl-thumbnail {
                transform: scale(1.1);
              }
            }
          }
        }

        .swiper-button-next,
        .swiper-button-prev {
          background: var(--rtcl-primary-color);
          color: $white;
          width: 36px;
          height: 36px;
          visibility: hidden;
          transition: all 0.3s ease-in-out;

          &:after {
            font-size: 16px;
            font-weight: 600;
            line-height: 1;
          }
        }

        .swiper-button-prev {
          left: 0;
        }

        .swiper-button-next {
          right: 0;
        }
      }
    }

    &:hover {
      .rtcl-related-listings .rtcl-related-slider .swiper-button-next,
      .rtcl-related-listings .rtcl-related-slider .swiper-button-prev {
        visibility: visible;
      }
    }
  }
}