/*-------------------------------------
#. Breadcrumbs
---------------------------------------*/
.breadcrumbs-area {
  margin-top: 80px;

  .rtcl-breadcrumb {
    padding-bottom: 20px;
    border-bottom: 1px solid $borderColor;
    margin-bottom: 0;

    a {
      color: $bodyColor;

      &:hover {
        color: var(--rtcl-primary-color);
      }
    }

    span:last-child {
      color: var(--rtcl-primary-color);
    }

    .delimiter {
      display: inline-block;
      padding: 0 8px;
      font-style: normal;
    }
  }
}