/*-------------------------------------
#. Comments
---------------------------------------*/
.post-title-block,
.comment-reply-title {
  font-size: 20px;
  line-height: 1.3;
  color: $black;
  margin-bottom: 30px;
}

.comments-area {
  ul.comment-list,
  ul.children {
    @include ul0();
  }

  ul.children {
    margin-left: 50px;

    @include medium-screen() {
      margin-left: 20px;
    }

    @include mobile-screen() {
      margin-left: 10px;
    }
  }

  .avatar-disabled {
    .main-comments {
      ul.children {
        margin-left: 30px;

        @include medium-screen() {
          margin-left: 20px;
        }

        @include mobile-screen() {
          margin-left: 10px;
        }
      }
    }
  }

  .comment-title span {
    color: $bodyColor;
  }

  .main-comments {
    padding-top: 12px;

    &:first-child {
      padding-top: 0px;
    }

    .children li {
      padding-top: 12px;
    }

    .each-comment {
      padding: 15px 0;
      border-bottom: 1px solid #ebebeb;

      @include mobile-screen() {
        padding: 5px 0;
      }
    }

    .imgholder {
      margin-right: 20px;
      margin-bottom: 10px;

      @include medium-screen() {
        max-width: 90px;
      }

      @include mobile-screen() {
        max-width: 50px;
        margin-right: 10px;
      }

      img {
        border-radius: 50%;
      }
    }

    &.pingback .imgholder,
    &.trackback .imgholder {
      margin: 0;
    }

    .comment-meta {
      .comment-meta-left {
        float: left;

        @include medium-screen() {
          float: none;
        }

        .comment-author {
          color: #111;
          font-size: 18px;
          line-height: 1.5;
          margin-bottom: 5px;
        }

        .comment-time {
          font-size: 14px;
          line-height: 1.5;
        }

        a {
          color: #111;

          &:hover {
            text-decoration: underline;
          }
        }
      }

      .reply-area {
        float: right;
        margin-top: 10px;

        @include medium-screen() {
          float: none;
        }

        a {
          color: #fff;
          border-radius: $borderRadius2;
          padding: 8px 15px;
          display: block;
          background-color: var(--rtcl-primary-color);
          font-size: 12px;
          line-height: 1;
          transition: all .5s ease-out;
          text-decoration: none;

          &:hover {
            background-color: var(--rtcl-secondary-color);
            text-decoration: none;
          }

          @include medium-screen() {
            display: inline-block;
          }
        }
      }
    }

    .comments-body {
      .comment-text {
        margin-top: 10px;
        color: $bodyColor;
        font-size: 15px;

        a {
          text-decoration: underline;

          &:hover {
            color: var(--rtcl-primary-color);
          }
        }

        p {
          margin-bottom: 10px;
        }

        .comment-awaiting-moderation {
          font-size: 16px;
          font-style: italic;
          font-weight: $bold;
          line-height: 1.3;
          color: #111;
        }
      }
    }

    #respond {
      margin-top: 35px;
    }
  }

  .comments-closed {
    font-size: 16px;
    font-style: italic;
    font-weight: $bold;
    padding-top: 20px;
    line-height: 1.3;
    color: #111;
  }

  .comment-navigation {
    margin-top: 30px;
    text-align: center;

    div[class^="nav"] {
      display: inline-block;
      margin: 0 3px;

      a {
        background-color: $bodyColor;
        color: #fff;
        font-size: 14px;
        line-height: 1;
        font-weight: $semiBold;
        padding: 8px 20px;
        border-radius: $borderRadius5;

        &:hover {
          opacity: 0.8;
        }
      }
    }
  }
}

#respond {
  .comment-reply-title {
    margin-bottom: 5px;
  }

  .comment-notes,
  .logged-in-as,
  .form-group {
    margin-bottom: 20px;
  }

  .logged-in-as a {
    color: $liteBlack;
  }

  form {
    input,
    textarea {
      border: none;
      background-color: #f9f9f9;
      border-radius: 0;
      box-shadow: none;
      color: $liteBlack;

      &:focus {
        box-shadow: none;
      }

      &::placeholder {
        color: #868e96;
      }
    }

    input {
      height: 45px;
    }

    textarea {
      height: auto;
    }

    input[type="checkbox"] {
      height: inherit;
      margin-right: 10px;
      vertical-align: middle;
      cursor: pointer;
    }

    label {
      margin: 0;
      vertical-align: middle;
    }

    .submit-button {
      margin-bottom: 0;
    }

    .btn-send {
      height: inherit;
      color: $white;
      padding: 10px 16px;
      border-radius: $borderRadius5;
      text-decoration: none;
      font-weight: $semiBold;
      font-size: 16px;
      border: 1px solid var(--rtcl-primary-color);
      background-color: var(--rtcl-primary-color);
      display: inline-block;
      transition: all 0.3s;

      &:hover {
        color: var(--rtcl-primary-color);
        background-color: transparent;
        border: 1px solid var(--rtcl-primary-color);
      }

    }
  }

  #cancel-comment-reply-link {
    font-size: 12px;
    line-height: 1.2;
    margin-left: 8px;
  }
}

.site-content .content-area .comment-reply-block {

  .comment-reply-title {
    display: none;
  }

  .alert {
    margin-bottom: 0;
    margin-top: 20px;
  }
}