/*-------------------------------------
#. WooCommerce
---------------------------------------*/
.woocommerce {
  table.shop_table {
    border-collapse: collapse;

    th {
      font-weight: 700;
      color: #111111;
    }
  }

  .woocommerce-cart-form {
    table.cart {

      .input-text {
        padding: 5px 10px !important;
        border-radius: 3px;
        border: 1px solid rgba(0, 0, 0, 0.2);
        outline: none;
      }

      a {
        color: inherit;

        &.remove {
          font-size: 20px;
        }

        &:hover {
          color: var(--rtcl-primary-color);
        }
      }

      .coupon {
        .input-text {
          width: auto !important;
        }

        .button {
          background-color: var(--rtcl-primary-color);
          border: none;
          border-radius: 3px;
          color: #ffffff;

          &:hover {
            background-color: var(--rtcl-secondary-color);
          }
        }
      }
    }
  }

  .cart-collaterals {
    .cart_totals {
      margin-top: 20px;

      table {
        border-collapse: collapse;

        th {
          font-weight: 700;
          color: #111111;
        }
      }

      h2 {
        font-size: 22px;
        line-height: 1.5;
        margin-bottom: 10px;
      }

      a.button {
        background-color: var(--rtcl-primary-color) !important;
        border: none;
        border-radius: 3px;
        color: #ffffff;
        font-size: 16px;
        font-weight: 600;
        line-height: 1.4;

        &:hover {
          background-color: var(--rtcl-secondary-color) !important;
        }
      }
    }
  }

  .select2-container--default .select2-selection--single .select2-selection__rendered {
    line-height: 45px;
  }

  .select2-container--default .select2-selection--single {
    height: 45px;
    border: 1px solid #e7e7e7;
  }

  .select2-container--default .select2-selection--single .select2-selection__arrow {
    height: 43px;
  }

  #order_review_heading {
    margin-top: 20px;
  }

  form {
    .form-row {
      label {
        color: #000000;
        display: block;
        font-size: 15px;
        font-weight: 500;
        margin-bottom: 6px;
        text-transform: capitalize;
      }

      input.input-text,
      textarea {
        font-size: 16px;
        outline: none;
        box-shadow: none;
        border-radius: 5px;
        line-height: 1.2;
        padding: 5px 12px;
        border: 1px solid #e7e7e7;
      }

      input.input-text {
        height: 45px;
      }
    }
  }

  .woocommerce-checkout {
    .woocommerce-checkout-review-order {
      .woocommerce-checkout-payment {
        .button {
          background-color: var(--rtcl-primary-color);
          color: #ffffff;
          border: 0;
          padding: 15px 28px;
          border-radius: 5px;
          font-weight: 600;
          align-items: center;
          transition: all 0.3s ease-in-out;

          &:hover {
            background-color: var(--rtcl-secondary-color);
          }
        }
      }
    }
  }

  .woocommerce-order {
    ul.order_details {
      margin: 0 0 30px;
      padding: 0;
    }

    .woocommerce-column__title,
    .woocommerce-order-details__title {
      font-size: 22px;
      line-height: 1.4;
      margin-bottom: 10px;
    }

    .woocommerce-customer-details {
      address {
        border: 1px solid #e7e7e7;
      }
    }
  }

}

.select2-dropdown {
  border-color: #e7e7e7;
}

.select2-container--default .select2-search--dropdown .select2-search__field {
  border: 1px solid #e7e7e7;
  outline: none;
  box-shadow: none;
}

.single-rtcl_listing {
  .woocommerce-error,
  .woocommerce-info,
  .woocommerce-message {
    background-color: #ffffff;

    .button {
      background-color: var(--rtcl-primary-color);
      padding: 7px 12px;
      line-height: 1.4;
      margin: 0;
      color: #ffffff;
      border-radius: 2px;

      &:hover {
        background-color: var(--rtcl-secondary-color);
        color: #ffffff;
      }
    }
  }
}

.woocommerce-message {
  border-top-color: var(--rtcl-primary-color);

  &:before {
    color: var(--rtcl-primary-color);
  }
}